[Desktop Entry]
Type=Application
Name=Python DHCP Server
Exec=sudo -i sh -c "python3 \"`dirname %k`/server/dhcpgui.pyw\" &"
Icon=python3
Terminal=true
